<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".RoadSystemApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadSystem">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- TODO: Não esqueça de colocar sua API Key do Google Cloud aqui! Sem ela o app vai "crashar" quando o mapa carregar -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAe8NHdxvvsghZvptqElSpBI8YRIc4_TW4" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RoadSystem"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Força a remoção dos inicializadores zumbis das bibliotecas de utilidades do Maps -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- Bloqueia o inicializador do Compose -->
            <meta-data
                android:name="com.google.maps.android.compose.utils.attribution.AttributionIdInitializer"
                tools:node="remove" />

            <!-- Bloqueia o inicializador do KTX -->
            <meta-data
                android:name="com.google.maps.android.ktx.utils.attribution.AttributionIdInitializer"
                tools:node="remove" />

        </provider>

    </application>
</manifest>